# ----------------------------------*- Sh -*-----------------------------------
# Filename: .gitignore
# Description: 
# Author: Fabian Wermelinger
# Email: fabianw@student.ethz.ch
# Created: Mon Oct 24 23:21:48 2011 (+0200)
# Version: 
# Last-Updated: Sat Dec 10 14:16:26 2011 (+0100)
#           By: Fabian Wermelinger
#     Update #: 6
# -----------------------------------------------------------------------------
# .gitignore starts here
# -----------------------------------------------------------------------------

# Lines that start with '#' are comments
# editor and misc backup files - anywhere
*~
.*~
*.asv
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
\#*\#

# LaTeX related files other than source - anywhere in /doc
/doc/*.aux
/doc/*.dvi
/doc/*.log
/doc/*.nlo
/doc/*.pdf
/doc/*.ps
/doc/*.toc

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz
*.zip
*.rar

# macintosh
.DS_Store
thumbs.db

# -----------------------------------------------------------------------------
# .gitignore ends here
# -----------------------------------------------------------------------------
